extends loggedlayout

block content
    .row.align-items-center.justify-content-around
        .col-4
            h1 Dashboard
        .col-6  
            .row.align-items-center  
                .col-8
                    p.lead.mb-3 Welcome #{user.name}
                .col-4
                    a(href="/users/logout" class="btn btn-secondary") Logout